@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

body {
    font-family: 'Signika', sans-serif;    
}

h1 {
 
}
/* summary */
.wrapper {
    display: flex;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}
.Head h1{
    justify-content: center;
    font-family: 'Signika', sans-serif;   
    text-align: center;
    padding: 12px;
    margin: 20px;
    font-size: 32px;
    background-color: hsl(9, 90%, 25%);
    color: aliceblue;
    width: 500px;
}


.summary {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    padding-left:50px;
    margin: 0 0 15px 15px;
    border: 5px;
    border-color: brown;
    border-style: ridge;
    font-size: larger;
}



.summary img{
    width: auto;
    margin-left: 15px;

}

.summary span{
    font-weight: bolder;
}


/* reviews */
.reviews {
    display: flex;
    padding: 12px;
    margin: 20px;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.reviews span {
    font-weight: bold;
}

.reviews li {
    padding-bottom: 15px;
}


@media (max-width:375px){
    reviews {
        display: flex;
        padding: 12px;
        margin: 20px;
        text-decoration: none;
        text-align: center;
        width: 450px;
    
    } 
}



/* about the author*/

.author {
    
    display: inline-block;
    padding: 12px;
    margin: 20px;

}
.author h2 {
    font-size: large;
    font-weight: bold;
}

/* purchase links*/
.purchase a {
    text-decoration: none;
    list-style: none;
}

.purchase li {
    display: inline-block;
}


