@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

body {
    font-family: 'Signika', sans-serif;   
    background-color:hsl(26, 40%, 63%) 
}

body a {
    text-decoration: none;
    list-style: none;
    color: hsl(9, 90%, 25%);
    transition: color 0.5s, transform 0.5s, background-color 0.5s, border 0.5s;
}

body a:hover {
    cursor: pointer;
    color: hsl(26, 40%, 63%);
    background-color:hsl(9, 90%, 25%);
    border: solid 2px;
    transform: scale(1.5);
}

.author a { 
    text-decoration: none;
    list-style: none;
    color: hsl(26, 40%, 87%);
    transition: color 0.5s, transform 0.5s, background-color 0.5s, border 0.5s;
}

.author a:hover {
    cursor: pointer;
    color: hsl(9, 90%, 25%);
    background-color:hsl( 26, 40%, 63%);
    border: solid 2px;
    transform: scale(1.5);
}
 



/* summary */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
    border: 5px;
    border-color: brown;
    border-style: ridge;
    background-color: hsl(26, 40%, 87%);
}

.Head h1{
    font-family: 'Signika', sans-serif;   
    text-align: center;
    padding: 12px;
    margin-bottom: 0.5px;
    font-size: 32px;
    background-color: hsl(9, 90%, 25%);
    color: hsl(26, 40%, 87%);
    margin-left: 17%;
    margin-right: 17%;
}

.summary {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding-left:50px;
    margin: 0 0 15px 15px;
    font-size: larger;
}

.summary p {
    padding: 16px 0;
}

.wrapper img{
    width: auto;
    height: 350px;
    margin-left: 15px;
    padding: 16px 12px;
    object-fit: contain;
}

.summary span{
    font-weight: bolder;
}

/*Summary at <700px viewport*/

@media (max-width: 650px) {
    .wrapper {
        display: block; 
        object-fit: contain;
        padding: 0px;
        margin: 1px;
    }
}

@media (max-width: 650px) {
    .wrapper img {
        width: 50%;
        object-fit: contain;
        object-position: center;
        margin-left: 20%;
    }
}

@media (max-width: 650px) {
    .summary p {
        padding: 0px;
        margin: 0px;
    }
}


/* reviews */
.reviews-prologue {
    display: flex;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.review {
    padding: 15px;

}

.reviews-prologue span {
    font-weight: bold;
}

.reviews-prologue li {
    padding-bottom: 15px;
}

.prologue {
    width: 450px;
    height: 200px;
    overflow-y: scroll;
    font-size: larger;
}

.prologue h3 {
    font-weight: bolder;
    font-size: x-large;
}

.prologue h4 {
    font-weight: bold;
    font-size: large;
    padding-bottom: 15px;

}

@media (max-width: 375px){
    reviews {
        display: flex;
        padding: 12px;
        margin: 20px;
        text-decoration: none;
        text-align: center;
        width: 450px;
    } 
}

@media (max-width: 650px) {
    .reviews-prologue {
        display: block; 
        object-fit: contain;
        padding: 0px;
        margin-left: 12%;
    }
}

@media (max-width: 650px) {
    .prologue {
        border: ridge 2px hsl(9, 90%, 25%);
    }
}
/* about the author*/

.author {
    display: inline-block;
    padding: 12px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    background-color: hsl(9, 90%, 25%);
    color: hsl(26, 40%, 87%);
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
}

.author h2 {
    font-size: large;
    font-weight: bold;
    text-decoration:underline;
}

/* purchase links*/

.purchase {
    float:right;
    margin-bottom: 25px;
    margin-right: 10%;
}

.purchase li:first-child {
    font-weight: bolder;
}

.purchase li {
    font-size: large;
    display:inline-block;
}

.purchase li > a {
    margin: 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.purchase a {
    text-decoration: none;
    list-style: none;
    color: hsl(9, 90%, 25%);
    transition: color 0.5s, transform 0.5s, background-color 0.5s, border 0.5s;
}

.purchase a:hover {
    cursor: pointer;
    color: hsl(26, 40%, 63%);
    background-color:hsl(9, 90%, 25%);
    border: solid 2px;
    transform: scale(1.5);
}


